body {
    font-family: "times", sans-serif;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 23.5px;
    color: #ffd423;
    font-weight: bold;
}

.section {
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ffd423;
    background-color: #222;
    color: white;
    text-align: left;
    font-size: 14px;
}

textarea {
    width: 100%;
    height: 100px;
    background-color: #222;
    color: white;
    border: none;
    padding: 10px;
    font-size: 14px;
}

button {
    background-color: #ffd423;
    color: black;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #e6c200;
}

input[type="file"] {
    display: block;
    margin-top: 10px;
    color: white;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #222;
    color: white;
    border: none;
}

#signature-preview {
    display: none;
    margin: 30px auto;
    max-width: 80%;
    height: auto;
    border: 2px solid #ffd423;
    padding: 10px;
}

.status-message {
    color: #ffd423;
    font-size: 14px;
    margin-top: 5px;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #ffd423;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-container p {
    color: #ffd423;
    font-size: 18px;
    margin-top: 10px;
}

.golden-bold {
    color: #FFD423; /* golden yellow */
    font-weight: bold;
  }
  